*{
	box-sizing: border-box;
}
body{
	font-family: "Rokkitt", Georgia, serif;
}
p {
	display: block;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    text-align: center;
}


a {
	text-decoration: none;
	color:black;
	text-align: center;
	
}
a:hover{
	text-decoration: underline;
	color:black;
}
h3{
	line-height: 1.9;
}
footer{
	color: rgba(255,255,255,.5);
	border-top: 2px solid black; background-color: #343a40;
}
.catalog-head{
	padding-top: 10px;
	margin-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.catalog-head h2{
	font-size: 38px;
	font-weight: 600;
	letter-spacing: 2.5px;
	text-transform: uppercase;
}
.form-top-margin{
	margin-top: 15px;
}
.form-body-padding{
	padding: 15px 0;
}

.payment-title{
	background-image: linear-gradient(to bottom, #555 0px, #888 100%);
	color:white;
}
.page{
	position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.side {
	text-transform: uppercase;
	padding-left: 10px;
}
.side h3{
	margin-top: 10px;
	margin-bottom: 14px;
	font-size: 18px;
	font-weight: 700;
}
.side ul {
	padding: 5px 5px;	
}
.footer-text-color a{
	    color: rgba(255,255,255,.5);
}
.title-hover :hover{
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.5);
  color:tomato;
  
}

.see-more{
  background-color: white;
  border:none;
  color: black;
  border-radius: 30px;
  padding:10px 50px;
}
.Search-margin-top{
	margin-top: 15px;
}
.discount{
  background-color: tomato;
  color:white;
}

.cart-detail {
    background: whitesmoke;
    padding: 2em 3em;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.checkout-form-margin{
	margin-top: 20px;
	margin-bottom: 20px;
}
.side ul li {
	font-size: 14px;
	list-style-type: none;
}
.nav-item-space{
	padding-left: 50px;
}
.site-header{
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 0;		
	font-size:48px;
	background-color: #343a40;
	text-transform: uppercase;
	font-family: 'Indie Flower', cursive;
}
.site-header a{
	color:white;
	text-decoration: none;
}
.checkout-background-color{
	background-color: whitesmoke;
}
.searching{
	height:40px;
}
.cart-bottom-color{
	background-color: tomato;
	font-weight: 700;
	color:white;

}
.price{
	font-size: 24px;
	color:#000;
	font-weight: 400;
	text-align: center;

}

.about-top-margin{
	margin-top: 100px;
}

.slide-top{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 70px;
	line-height: 1.8;
}
.footer-layout{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 70px;
	line-height: 2;

}

.slide-margin-top{
	margin-top: 30px;


}
.best-selling{
	margin-bottom: 100px;
	margin-top: 150px;
	padding-bottom: 40px;
	padding-top: 40px;
}
.best-selling h2{
	font-size: 38px;
	font-weight: 600;
	letter-spacing: 2.5px;
	text-transform: uppercase;
}
.cart-header{
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 100px;
	letter-spacing: 3.5px;
	text-align: left;

}
.card-title{
	display: block;
	padding: 1em;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
} 
.remove-bottom{
	background-color: white;
  border:none;
  color: black;
}

.product-cart, .product-name {
  width: 100%;
  display: block;
  float: left;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 16px;
  margin-bottom: 16px; }
.one-forth {
    width: 480px;
    height: 100px !important;
    display: table;
    float: left; }
    
 .one-eight {
    width: 130px;
    height: 100px !important;
    display: table;
    float: left; }
   
 .display-tc {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    width: 100%; }
 .display-tc h3 {
      margin-bottom: 0;
      padding-left: 30px;
      font-size: 14px; }
 .display-tc .closed {
      display: block;
      margin: 0 auto;
      width: 20px;
      height: 20px;
      background: #f2f2f2;
      position: relative; }
     
     
 .product-img {
    display: block;
    width: 90px;
    height: 100px;
    float: left; }
  
  .product-cart .form-control, .product-name .form-control {
    padding: 0;
    height: 40px;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #f0f0f0 !important; }

.height{
	height: 100px;
}
.product-name {
  padding: .8em 0;
  background: #f0f0f0;
  border: none;
  width: 100%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }
  .product-name .one-forth, .product-name .one-eight {
    height: initial !important; }
    .product-name .one-forth span, .product-name .one-eight span {
      color: #000;
      font-weight: 400;
      text-transform: uppercase; }
      @media (max-width: 767.98px) {
        .product-name .one-forth span, .product-name .one-eight span {
          font-size: 10px; } }
